.recipelist{
    padding: 50px;
}

.recipelist__content > h3 {
    margin-top: 30px;
    font-size: 30px;
    color: #3c3c3c;
    font-weight: 600;
}

.recipelist__content > h3 > span {
    font-size: 30px;
    font-weight: 900;
}