header {
    background-image: url('./ravenous-banner.jpg');
    background-position: center;
    background-size: cover;
    height: 400px;
}
nav.nav-wrapper {
    background-color: #cc8e35;
}
.brand-logo{
    font-weight: bold;
}
.container{
    width: 85%;
}

form{
    opacity: 0.9;
    max-width: 600px;
    padding: 40px;
    margin: 50px auto;
}
form label{
    font-size: 18px;
    color: #3c3c3c;
}
form input::placeholder{
    font-weight: bold;
    color: grey;
}
form button{
    display: block;
    width: 50%;
    
}
form button.btn{
    background-color: #ffb142;
    font-weight: bold;
}
form button.btn:hover{
    background-color: #cc8e35;
}


