header {
    background-image: url('./ravenous-banner.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
}
nav.nav-wrapper {
    background-color: #cc8e35;
}
.brand-logo{
    font-weight: bold;
}
.container{
    width: 85%;
}
